@model MySql_Image.Data.Entities.Product

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IsDiscontinued)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsDiscontinued)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AssociatedCategoryId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AssociatedCategoryId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AssociatedSnapshotTypeId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AssociatedSnapshotTypeId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AssociatedGroupId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AssociatedGroupId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AssociatedScreenId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AssociatedScreenId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AssociatedImageId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AssociatedImageId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AssociatedRecycleId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AssociatedRecycleId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MerchantNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MerchantNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AiPartNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AiPartNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ManufactureNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ManufactureNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ManufactureName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ManufactureName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MfgUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MfgUrl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MfgManualUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MfgManualUrl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AssociatedPrimaryVendorId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AssociatedPrimaryVendorId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AssociatedSecondaryVendorId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AssociatedSecondaryVendorId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AssociatedTertiaryVendorId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AssociatedTertiaryVendorId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Retail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Retail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AdditionalCost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AdditionalCost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DefaultPriority)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DefaultPriority)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsTaxable)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsTaxable)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsRecycleFee)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsRecycleFee)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ItemsAssociated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ItemsAssociated)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsExcludedDesAinumOverrwrite)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsExcludedDesAinumOverrwrite)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CostVerificationBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CostVerificationBy)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
