@model IEnumerable<MySql_Image.Data.Entities.Product>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AiPartNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ManufactureNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ManufactureName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrimaryVendor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Retail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AiPartNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ManufactureNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ManufactureName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrimaryVendor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Retail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cost)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id"class="btn-sm btn-outline-warning">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn-sm btn-outline-info">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn-sm btn-outline-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
