@model MySql_Image.Services.PaginatedList<MySql_Image.Data.Entities.Product>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Product Description
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["AiPartNumberSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">AI Part Number</a>
            </th>
            <th>
                Manufacture Number
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["ManufactureNameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Manufacture's Name</a>
            </th>
            <th>
                Primary Vendor
            </th>
            <th>
                 Retail
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["CostSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Cost</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AiPartNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ManufactureNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ManufactureName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrimaryVendor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Retail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cost)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn-sm btn-outline-warning">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn-sm btn-outline-info">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn-sm btn-outline-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-page="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-info @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-page="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-warning @nextDisabled">
    Next
</a>
